.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .675rem auto;
}

.card {

    img {
        height: 25rem;
        width: 18.75rem;
    }

    @include breakpoint-up(medium) {
        img {
            padding: 1.25rem;
        }
    }
}