.contact {
    background-color: $contact;
    min-height: 100vh;
    height: auto;
    font-family: $rosario;
    font-size: $font-md;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint-up(medium){
        padding: 5rem;
    }
    @include breakpoint-up(large){
        padding: 5rem;
    }


    h2 {
        margin: 1.5rem 0;
        font-size: $font-xlg;

        @include breakpoint-up(medium) {
            padding-top: 7rem;
            font-size: $font-hero;
        }
        @include breakpoint-up(large) {
            padding-top: 1rem;
        }
        @include breakpoint-up(xlarge) {
            font-size: 120px;
        }
    }

    .h2-mask{
        height: 10rem;
        position: relative;
        margin-top: 8rem;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0;

        @include breakpoint-up(large){
            margin-top: 0;
            height: auto;
        }

        @include breakpoint-up(xlarge){
            margin-top: 10rem;
            height: auto;
        }
    }

    .links {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include breakpoint-up(medium){
            padding-top: 3rem;
            padding-left: 3rem;
        }
    }

    .email-span{
        padding-bottom: .6rem;
        border-bottom: solid 1px $black;
    }

    .github-link{
        color: $black;
        margin-top: 2.4rem;
        height: 1.875rem;
        display: flex;
        align-items: center;
        line-height: 1.1;
        
    }

    .dev {
        padding-top: 5rem;
        font-size: 1.25rem;
    }
}

.mask {
    position: relative;
    padding: 0;
    height: 2.09rem;
    overflow: hidden;
}

.github-title {
    display: block;
    transition: transform 0.4s ease;
}

.link-title-1 {
    transform-origin: right center;
}

.link-title-2 {
    transform-origin: left center;
    transform: rotate(15deg);
}

.github-link-container {
    transition: transform 0.4s ease;
}

.mask:hover .github-link-container{
    transform: translateY(-25px);
}

.mask:hover .link-title-1 {
    transform: rotate(20deg);
}

.mask:hover .link-title-2 {
    transform: rotate(0);
}

.title-animation {
   animation: text-contact 1.5s ease;

    @include breakpoint-up(large){
        animation: text-contact-large 2.5s ease;
    }
}