.contact {
    background-color: $contact;
    height: 100vh;
    font-family: $rosario;
    font-size: $font-md;
    padding: 1.25rem;

    @include breakpoint-up(medium){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;
    }
    @include breakpoint-up(large){
        padding: 6.20rem;
    }

    h2 {
        font-size: $font-xlg;
        padding-top: 10rem;
        @include breakpoint-up(medium) {
            padding-top: 7rem;
            font-size: $font-hero;
        }
        @include breakpoint-up(large) {
            padding-top: 1rem;
        }
    }

    .links {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include breakpoint-up(medium){
            padding-top: 3rem;
            padding-left: 3rem;
        }
    }

    .email-span{
        padding-bottom: .620rem;
        border-bottom: solid 1px $black;
    }

    .github-link{
        color: $black;
        margin-top: 2.4rem;
        height: 1.875rem;
        display: flex;
        align-items: center;
        line-height: 1.1;
    }

    .dev {
        padding-top: 5rem;
        font-size: 1.25rem;
    }
}

.mask {
    position: relative;
    padding: 0;
    height: 2.09rem;
    overflow: hidden;
}

.github-title {
    display: block;
    transition: transform 0.4s ease;
}

.link-title-1 {
    transform-origin: right center;
}

.link-title-2 {
    transform-origin: left center;
    transform: rotate(15deg);
}

.github-link-container {
    transition: transform 0.4s ease;
}

.github-link:hover .github-link-container{
    transform: translateY(-25px);
}

.github-link:hover .link-title-1 {
    transform: rotate(20deg);
}

.github-link:hover .link-title-2 {
    transform: rotate(0);
}