.header {
    position: fixed;
    padding:.9375rem .675rem;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 5rem;
    z-index: 4;

    button {
        border: none;
        background-color: inherit;
        cursor: pointer;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-up(medium){
        padding: 1.875rem;
    }

    @include breakpoint-up(large){
        padding:1.875rem 2.1875rem;
    }
}

.icons {
    margin: .625rem;
    display: flex;
    a { 
    color: $black;
    padding: 0 .625rem;
    opacity: 1;
    transition: 300ms ease-in-out;
    }

    a:hover {
        opacity: .7;
    }

    .email {
        color: $black;
        padding: 0 .625rem;
        cursor: pointer;
    }
}

.logo {
    height: 1.5625rem;
    width: 7.5rem;
}