.hero {

    @include breakpoint-up(large){
        display: flex;
    }

    
    font-size: $font-lg;

    h1 {
        text-align: center;
    }
}

.arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.right-arrow {
    right: 32px;
}