.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: $neutral-pink;
    scroll-behavior: smooth;
    
    @include breakpoint-up(medium){
        padding-top: 6.875rem;
        justify-content: center;
        align-items: center;
    }

    @include breakpoint-up(large){
        flex-direction: row;
        justify-content: space-between;
        padding-top: .625rem;
    }
    @include breakpoint-up(xlarge){
        justify-content: center;
        font-size: $font-xlg;
    }

    font-size: $font-md;

    h1 {
        text-align: center;
        width: 18.5rem;
        padding: 1.625rem 0px;
        font-family: $rosario;
        animation: text 1s ease;

        @include breakpoint-up(medium) {
            font-size: $font-xlg;
            width: 100%;
            padding: 3.125rem;
            
        }
        @include breakpoint-up(large) {
                padding: 3.125rem 0;
                font-size: $font-hero;
                animation: text-large 2s ease;
            
        }

    }
}

.h1-mask {
    height: 3.125rem;
    position: relative;
    padding: 0;
    margin: 1.875rem 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(medium){
        height: 3.7rem;
    }

    @include breakpoint-up(large){
        height: 12.5rem;
        width: 40rem;
        margin-left: 5rem;
    }

    @include breakpoint-up(xlarge){
        height: 12.5rem;
        width: 40rem;
        margin-left: 8rem;
    }
}


.photo-slider {
    display: grid;
    justify-content: center;
    grid-template-columns: (6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;

    img {
        height: 25rem;
        width: 18.75rem;
        border-radius: 2px;
    }

    @include breakpoint-up(medium){
        padding: 3.125rem;

        img {
            height: 29rem;
            width: 21rem;
        }
    }
    @include breakpoint-up(large){
        padding-top: 6rem;
        align-self: center;
    }

    @include breakpoint-up(xlarge){
        align-self: center;
        margin-left: 9.375rem;
        margin-top: 6.25rem;
        img {
            height: 33rem;
            width: 23rem;
        }
    }

}

.arrow {
    grid-row: 2;
    cursor: pointer;
    color: $black;
    
    transform: translate(0,-50%);
    @include breakpoint-up(medium){
        margin: 0px 1.875rem;
    }
}

.arrow:hover {
    color: #585655;
}

.right-arrow {
    grid-column: 6;
    padding-left: .3rem;
}

.left-arrow {
    grid-column: 1;
    padding-right: .3rem;
}

.slide {
    opacity: 0;
    transition: 500ms ease-out;
    z-index: 3;
    grid-column: 2/span 4 ;
    grid-row: 1 / 3;
    align-items: center;
}

.slide-active {
    opacity: 1;
    transition: .5s ease-out;
    z-index: 4;
    grid-column: 2/span 4;
    grid-row: 1 / 3;
    display: flex;
}
