.hero {

    @include breakpoint-up(large){
        display: flex;
    }

    
    font-size: $font-lg;

    h1 {
        text-align: center;
    }
}

.photo-slider {
    display: flex;
    align-items: center;
}

.arrow {
    cursor: pointer;
    color: white;
}

.right-arrow {
    
}

.slide-active {
    text-align: center;
}