.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 18.75rem;
    align-self: center;
    justify-self: center;

    @include breakpoint-up(medium){
        height: 29rem;
        width: 21rem;
    }
    @include breakpoint-up(xlarge){
        height: 33rem;
        width: 23rem;
    }
}

.loading-line {
    background-color: $black;
    width: 0%;
    height: .1rem;
    z-index: 0;
    animation: line 2s ease;
}

@keyframes line {
    0% {
        width: 0%;
    }

    50%{
        width:80%;
    }

    100% {
        width: 0%;
    }
}