.form {
    font-family: $roboto;
    text-align: center;
    width: 18.75rem;
    padding: .625rem;
    margin: auto;

    @include breakpoint-up(medium){
        width: 22rem;
        font-size: $font-lg;
    }
    input {
        color: $black;
        background-color: transparent;
        margin-right: 1.25rem;
        border: none;
        border-bottom: solid 1px $black;
        max-width: 50%;

    }

    input:focus {
        outline: none;
    }

    button {
        margin-left: .625rem;
        text-align: center;
        background-color: transparent;
        border: solid 1px $black;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
    }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $black;
            opacity: 1; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $black;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: $black;
          }
    
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 18.75rem;

    @include breakpoint-up(medium){
        max-width: 22rem;

        input {
            font-size: $font-md;
        }
        button {
            font-size: $font-md;
        }
    }
}


.photo-gallery {
    background-color: #d6d0c8;

    .infos {
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5625rem;
        @include breakpoint-up(medium) {
            padding: 0px 1.25rem;
            max-width: 18.75rem;
        }
    }

    .title {
        font-family: $roboto;
        font-size: 1rem;
    }


    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .edit-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: .625rem;
        font-size: 1.20rem;
    }

    .delete-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: .625rem;
        font-size: 1.20rem;
    }

    .button-edit {
        font-family: $roboto;
        background-color: transparent;
        color: $black;
        border: solid 1px $black;
    }
    input {
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px $black;
        margin-right: 1.25rem;
    }
    input:focus {
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px $black;
    }

    .edit-edit-container {
        padding-top: 1.2rem;
        margin-bottom: 1.5625rem;

        @include breakpoint-up(medium){
           input {
            max-width: 6.25rem;
           } 
        }
       
    }

    .edit-button-container {
        padding-top: 1.2rem;
        margin-bottom: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $black;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $black;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $black;
      }
}