//colors

$black: #000006;
$neutral-pink: #ddd8d5;

//font-sizes

$font-md: 1.5625rem; //25px
$font-lg: 1.875rem; //30px
$font-xlg: 3.125rem; //50px;
$font-hero: 5rem; //70rem

//font-families

$roboto: 'Roboto Condensed';
$raleway: 'Raleway';